@import "@theatersoft/components"

.stat
    padding 0 h(8)

.time
    font-size font-size-x-large
    line-height 80%
    margin-bottom h(8)
.ot
    font-size h(16)
    color color-accent
    margin-top h(-4)
    margin-bottom h(8)
.rt
    font-size font-size-xxx-large
    color color-accent
    line-height 84%
    margin-left h(6)
    margin-bottom  h(2)
.hum
    margin-bottom  h(-4)
.clsp
    font-size font-size-x-large
    margin-bottom  h(-2)
    text-align center
    color lightskyblue
.htsp
    font-size font-size-x-large
    margin-bottom  h(-2)
    text-align center
    color indianred
