button-variant(accent, background)
    color accent
    background-color background
    height 100%
    text()
    padding 0 1rem
    border none
    border-radius 1rem

    &:hover,
    &:focus,
    &:active
        color accent
        background-color lighten(background, 5%)

.button
    button-variant(color-accent, theme-background-transparent)