#video
    background-image url(http://localhost:5400)
#ui
    background theme-background-transparent

.row
    border-bottom dashed

.col
    border-right dashed

div
label
input
    border-bottom dashed
    border-right dashed
