@import "@theatersoft/components"

#pinpad
    top h(8)
    padding-left h(19)
    text-align center
    :global .text
        height h(22)
        width h(71)
        font-size h(16)
        color color-accent
    :global .iconpad
        height h(18)
        width h(21)
    .key
        height h(18)
        width h(21)
    :global .text
        border-radius h(2)
        border h(1) solid color
        background-color color-back
    :global .iconpad
        border-radius h(2)
        border h(1) solid color
        background-color color-back
    .key
        border-radius h(2)
        border h(1) solid color
        background-color color-back
    .key
        border h(1) solid color-accent
    :global .iconpad:hover, :global .iconpad:focus
        border h(1) solid color-focus
        color color-focus
        background-color color-focus-back
    .key:hover,.key:focus
        border h(1) solid color-focus
        color color-focus
        background-color color-focus-back

