@import "@theatersoft/components"

.pinpad
    align-items center
    margin-top 8rem
    > * > *
        margin 2rem
.text
    margin 2rem
    width h(75)
    height h(20)
    font-size font-size-x-large
    background color-primary
    border-radius h(2)
