@import "@theatersoft/components"

.pinpad
    display flex
    flex-direction column
    align-items center
    margin-top 8rem

.text
    display flex
    justify-content center
    margin 2rem
    width h(75)
    height h(20)
    font-size font-size-x-large
    background color-primary
    border-radius h(2)


.row
    display flex
    flex-direction row
    > *
        margin 2rem
